{% extends "layout/layout_auth.html" %}

{% block page_title %}
فراموشی رمز عبور
{% endblock page_title %}


{% block container %}

<h4 class="mb-1 pt-2">رمز عبور را فراموش کرده اید؟ 🔒</h4>
                    <p class="mb-4">شماره تلفن خود را وارد کنید و ما کدی را جهت ثبت رمز جدید برای شما ارسال می کنیم</p>
                    <form action="" class="mb-3" id="formAuthentication" method="POST">
                    {% csrf_token %}

                    <div class='container text-center'>
                    {% if form.errors %}
                    <ul>
                    
                    {% for field in form %}
                        {% for error in field.errors %}
                        <li class='alert alert-danger'>
                        <p>{{field.label}} - {{error}}</p>
                        </li>
                    {% endfor %}
                    {% endfor %}
                        
                    
                        
                    </ul>
                    {% endif %}
                    </div>

                        <div class="mb-3">
                            <label class="form-label" for="email">{{form.phone.label}}</label>
                            {{form.phone}}
                        </div>
                        <button class="btn btn-primary d-grid w-100">ارسال کد تایید</button>
                    </form>
                    <div class="text-center">
                        <a class="d-flex align-items-center justify-content-center" href="{% url 'login' %}">
                            <i class="ti ti-chevron-left scaleX-n1-rtl"></i>
                            بازگشت به صفحه ورود
                        </a>
                    </div>



                                        {% if messages %}
                    {% for message in messages %}
                    
                    
                    <script>
                        Swal.fire({title: "{{message}}!",icon: "success",draggable: false,}).then((result)=>{
                            location.replace("/auth/verify-account")
                        });
                         
                        </script>
                        {% endfor %}
                    {% endif %}

{% endblock container %}