{% extends "layout/layout_auth.html" %}

{% block page_title %}
تغییر رمز عبور
{% endblock page_title %}


{% block container %}
<h4 class="mb-1 pt-2">ریست رمز عبور 🔒</h4>
                    <p class="mb-4">برای
                        <span class="fw-medium">{{phone_first}}***{{phone_last}}</span>
                    </p>
                    <form action="" id="formAuthentication" method="POST">
                    {% csrf_token %}

                    <div class='container text-center'>
                    {% if form.errors %}
                    <ul>
                    
                    {% for field in form %}
                        {% for error in field.errors %}
                        <li class='alert alert-danger'>
                        <p>{{field.label}} - {{error}}</p>
                        </li>
                    {% endfor %}
                    {% endfor %}
                        
                    
                        
                    </ul>
                    {% endif %}
                    </div>


                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="password">رمز عبور جدید</label>
                            <div class="input-group input-group-merge">
                                {{form.password}}
                                <span class="input-group-text cursor-pointer">
                                    <i class="ti ti-eye-off"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="confirm-password">تایید رمز عبور</label>
                            <div class="input-group input-group-merge">
                                {{form.confirm_password}}
                                <span class="input-group-text cursor-pointer">
                                    <i class="ti ti-eye-off"></i>
                                </span>
                            </div>
                        </div>
                        <button class="btn btn-primary d-grid w-100 mb-3">ثبت رمز ورود</button>
                        <div class="text-center">
                            <a href="{% url 'login' %}">
                                <i class="ti ti-chevron-left scaleX-n1-rtl"></i>
                                بازگشت به ورود
                            </a>
                        </div>
                    </form>


                    {% if messages %}
                    {% for message in messages %}
                    
                    
                    <script>
                        Swal.fire({title: "{{message}}!",icon: "success",draggable: false,}).then((result)=>{
                            location.replace("/auth/login")
                        });
                         
                        </script>
                        {% endfor %}
                    {% endif %}

{% endblock container %}